<nav class="menu">
<form action="/" method="GET">
  <input type="text" name="search" placeholder="Buscar..." value="{{ searchQuery }}">
  <button type="submit">Buscar</button>
</form>
<ul>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/acerca">Bases</a></li>
    <li><a href="/blog">Trayectoria</a></li>
    <li><a href="/Documentaciones">Documentacion</a></li>
  </ul>
</nav>